#Database
logging.level.org.hibernate.SQL=DEBUG
server.address=0.0.0.0
server.port=8081
spring.datasource.driver-class-name=
spring.datasource.password=
spring.datasource.url=
spring.datasource.username=
spring.jpa.hibernate.ddl-auto=
spring.jpa.properties.hibernate.dialect=
spring.jpa.show-sql=true
spring.mail.host=smtp.gmail.com
spring.mail.password=d
spring.mail.port=587
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.username=
spring.mvc.pathmatch.matching-strategy=ANT_PATH_MATCHER


#JWT
jwt-claim-key=
jwt-secret=